<!DOCTYPE html>

<div class="template-full-screen widescreen" ng-controller="Receiver">
    <div class="main-window">
        <h1 ng-hide="channelUrl">Setting Up Chromecast</h1>
        <div ng-show="data.video">
            <video id="video"></video>
            and something else;
        </div>
        <div ng-show="chromecast.alert" class="alert" style="background-color:{{ chromecast.alert.style }};">{{ chromecast.alert.text }}</div>

        <span ng-repeat="alert in chromecast.alerts">
            <div class="alert" style="background-color:{{alert.style}}">
                {{ alert.text }}
            </div>
        </span>

        <div ng-show="chromecast.name" class="channel-overlay">{{ chromecast }}</div>

        <form>
            <input type="text" ng-model="alertText">
        </form>
        <input type="text" ng-model="alertTime">
        </form>

        <button ng-click="createAlert()">alert!</button>
        </form>
  
    </div>

</div>
